# JetBrains IntelliJ
.idea/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# yarn v2 with zero-installs
.yarn/*

# Webpack
.webpack/

# Electron-Forge
out/

# Configuration files
/*.config.js
